{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<div class="p-3">
    <h1>{{ block ('title') }}</h1>
    {% if categories|length > 0 %}
        <ul class="d-flex">
            {% for category in categories %}
                <li class="list-style-none mx-3"><a href="{{path('app_product_list', {'category': category.id})}}" class="btn btn-outline-dark">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Désoler il n'y as pas de catégorie</p>
    {% endif %}
    
</div>
{% endblock %}
