{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie {{category.name}} {% endblock %}

{% block body %}
<div class="row p-3 gx-0">
    <div class="col-11 mx-auto">
        <h1>{{ block ('title') }}</h1>
        <div class="row">
            {% for product in category.product %}
                {% include "_parts/cardProduct.html.twig" with {'product': product} %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
